* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #002366;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

nav {
  display: flex;
  gap: 10px;
  
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  max-width: 55px;
}

nav a:hover {
  text-decoration: underline;
}

.btn {
  padding: 7px;
  width: 100px;
  background-color: #008080;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: #E0F7FA;
}

.hero div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.hero h1 {
      color: #004080;
      font-weight: bold;
      font-size: 40px;
}

.hero h4, .hero p {
  color: #555555;
}

.hero button {
  background-color: #008080;
  padding: 7px;
  width: 100px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 150px 40PX;
  background-color: #F5F5F5;
}

.about h3 {
  color: #004080;
  font-weight: bold;
  font-size: 40px;
}

.about p {
  color: #555555;
  line-height: 1.5;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 150px 40PX;
  background-color: #FFFFFF;
}

.features h3 {
  color: #004080;
  font-weight: bold;
  font-size: 40px;
}

.features ul {
  color: #555555;
  line-height: 1.5;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 150px 40PX;
  background-color: #008080;
}

.benefits h3 {
  color: #004080;
  font-weight: bold;
  font-size: 40px;
}

.benefits ul {
  color: #FFFFFF;
  line-height: 1.5;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 150px 40PX;
  background-color: #E0F7FA;
}

.action h2 {
  color: #004080;
  font-weight: bold;
  font-size: 40px;
}

.action p {
  color: #555555;
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
}

.action button {
  background-color: #008080;
  padding: 7px;
  width: 100px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action button:hover {
     text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  background-color: #002366;
  color: #FFFFFF;
}

span {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

@media (max-width: 576px) {
  .action h2 {
    font-size: 33px;
  }
}

@media (min-width: 768px) {
   nav a {
    font-size: 17px;
  }

  .about p {
    width: 550px;
  }
}

@media (min-width: 992px) {
  nav a {
    font-size: 17.5px;
  }
}